/*div {
    background-color: blueviolet;
    color: white;
    width: 30%;
    height: 100px;

}*/
span {
    background-color: orange;
    width: 30%;
    height: 100px;
}
.one {
    text-align: center;
    background-color: crimson;

}
div {
height: 100px;
color: blue;

}
#abc {
    background-color: darkmagenta;
}
.hhh {
    text-align: center;
    
}